.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  font-family: calibri;
}

button {
  width : 100%;
  padding: 3px;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: x-large;
}

div {
  margin-top: 6%;
}