.inicio-sesion {
  width: 200px;
  height: 110px;
  display: flex;
  margin: 82px auto 0px;
  padding: 23px;
  flex-direction: column;
  align-items: center;
  background: #ffe689;
}

.inicio-sesion input {
  width: 95%;
  margin-bottom: 20px;
}