.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

#primero {
  margin-right: 20px;
}

button {
  display: inline-flex;
  width: 250px;
  height: 70px;
  display: inline-blo;
  padding: 7px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

#botones{
  width: 520px;
}

#boton1{
  margin-right: 20px;
}

#cerrar{
  width: 520px;
  height: 45px;
}